---
import { Icon } from '@iconify/react'
import clsx from 'clsx'
import { t } from 'i18next'
import { Image } from '@astrojs/image/components'

export type Props = {
    title: string
    description: string
    slug: string
    img: string
    alt: string
    variant: 'small' | 'medium'
    localizedRootUrl: string
}

const { title, description, slug, img, alt, variant, localizedRootUrl } =
    Astro.props

function getClass(className: string, map: Record<Props['variant'], string>) {
    return clsx(className, map[variant])
}
const wrapperClass = getClass(
    'flex flex-col gap-4 group focus:outline-none focus:ring-3 focus:ring-primary-7 h-full',
    {
        small: '',
        medium: '',
    }
)
const imgClass = getClass(
    'object-cover group-hover:scale-105 transition-transform w-full',
    { small: 'h-72 md:h-48', medium: 'h-72' }
)
const titleClass = getClass('font-semibold text-xl sm:text-2xl', {
    small: '',
    medium: 'md:text-3xl',
})
const descClass = getClass('font-medium text-neutral-11 text-base', {
    small: '',
    medium: '',
})
const linkClass = getClass(
    'inline-flex text-primary-9 mr-auto mt-auto items-center space-x-2 font-semibold pb-1 border-b-2 border-transparent group-hover:border-current transition-colors text-sm sm:text-base',
    {
        small: '',
        medium: '',
    }
)
---

<a href={`${localizedRootUrl}${slug}`} class={wrapperClass}>
    <div class="overflow-hidden">
        <Image
            src={img}
            alt={alt}
            class={imgClass}
            loading={variant === 'medium' ? 'eager' : 'lazy'}
            width={1200}
            height={627}
            fit="outside"
            quality={100}
            format="webp"
        />
    </div>
    <h3 class={titleClass}>{title}</h3>
    <p class={descClass}>{description}</p>
    <div class={linkClass}>
        <span>{t('viewProject', { ns: 'pages.projects' })}</span>
        <Icon
            icon="heroicons:chevron-right-20-solid"
            className="h-4 w-4"
            client:load
        />
    </div>
</a>
