---
import Section from "~/components/Section";
import about from "~/assets/about.webp";
import { Image } from "astro:assets";

const id = "about";
const caption = "Me in a concert, playing percussions, 2019"
---

<Section {id}>
  <Section.Title {id}>About</Section.Title>
  <p class="mt-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, modi. Quis,
    velit voluptatibus? Itaque voluptas expedita aperiam sunt atque corporis.
    Voluptatibus minus provident incidunt alias!
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt a temporibus
    laboriosam quos eius molestiae!
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptates
    perferendis soluta, nisi facilis minima eveniet in possimus aliquid
    sapiente.
  </p>
  <figure>
    <Image
      src={about}
      alt={caption}
      class="bg-bg-subtle border border-border aspect-video mt-10"
      width={576}
    />
    <figcaption class="mt-2 text-sm">
      {caption}
    </figcaption>
  </figure>
</Section>
