---
import Section from "~/components/Section";
import about from "~/assets/about.webp";
import { Image } from "astro:assets";

const id = "about";
const caption = "Playing percussion at a concert in 2019";
---

<Section {id}>
  <Section.Title {id}>About</Section.Title>
  <p class="mt-4">
    Younger, I managed a computer fleet before giving game development a try
    with Unreal Engine 4. In late 2019, my curiosity led me to self-taught
    exploration in web development. Despite my independent learning, I enrolled
    early 2023 in a <a
      href="https://www.lewagon.com/web-development-course"
      class="font-medium text-text underline">Le Wagon</a
    > bootcamp, where I obtained certification as a web designer and developer.
  </p>
  <p class="mt-4">
    I learned a lot of things along the way: web development, UI/UX design
    (mobile apps, design systems), project management, devops and more! I'm
    curious and eager to learn new things.
  </p>
  <p class="mt-4">
    Web development isn't my sole passion; I also have a deep love for playing
    music! I've been honing my skills with various instruments for over a
    decade, including drums, percussion, bass guitar, and even a bit of piano.
  </p>
  <figure>
    <Image
      src={about}
      alt={caption}
      class="bg-bg-subtle border border-border aspect-video mt-10"
      width={576}
    />
    <figcaption class="mt-2 text-sm">
      {caption}
    </figcaption>
  </figure>
</Section>
