---
import Section from "~/components/Section";
import about from "~/assets/about.webp";
import { Image } from "astro:assets";
import Text from "~/pages/_components/partials/Text.astro";

const id = "about";
const caption = "Playing percussion at a concert in 2019";
---

<Section {id}>
  <Section.Title {id}>About</Section.Title>
  <Text id="about" class="space-y-4 mt-4" />
  <figure>
    <Image
      src={about}
      alt={caption}
      class="bg-bg-subtle border border-border aspect-video mt-10"
      width={576}
    />
    <figcaption class="mt-2 text-sm">
      {caption}
    </figcaption>
  </figure>
</Section>
