---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Section from "~/components/Section";

const testimonials = await Promise.all(
  (await getCollection("testimonials")).map(async (e) => ({
    ...e,
    ...(await e.render()),
  }))
);

const id = "testimonials";
---

<Section {id}>
  <Section.Title {id}>Testimonials</Section.Title>
  <div class="grid grid-cols-1 mt-4 gap-8">
    {
      testimonials.map(({ data, Content }) => (
        <div class="flex space-x-4">
          <Image
            src={data.image}
            alt=""
            class="h-20 w-20 rounded-full bg-bg-subtle border border-border shrink-0"
            width={80}
          />
          <div>
            <h3 class="mb-1 font-semibold text-text">{data.title}</h3>
            <p class="text-sm">{data.subtitle}</p>
            <p class="mt-3">
              <Content />
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Section>
