---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  article: CollectionEntry<"posts">;
  preloadImage?: boolean;
}

const { article, preloadImage = false } = Astro.props;
---

<div
  class="relative bg-bg border border-border aspect-video hover:opacity-80 transition-opacity"
>
  <Image
    {...article.data.cover}
    class="object-cover object-center"
    width={576}
    loading={preloadImage ? "eager" : "lazy"}
    transition:name={`article-cover:${article.slug}`}
  />
  <div
    class="absolute top-0 bg-bg-subtle px-2 py-1 text-sm flex items-center justify-between border-r border-b border-border"
  >
    <time datetime={article.data.date.toISOString()}>
      {
        new Intl.DateTimeFormat("en-US", { dateStyle: "medium" }).format(
          article.data.date
        )
      }
    </time>
  </div>
  <div class="bg-bg-subtle p-2 border-t border-border flex flex-col-reverse">
    <div
      class="text-sm mt-1"
      transition:name={`article-description:${article.slug}`}
    >
      {article.data.description}
    </div>
    <a
      href={`/blog/${article.slug}`}
      transition:name={`article-title:${article.slug}`}
      class="text-text font-semibold"
    >
      {article.data.title}
      <span class="inset-0 absolute"></span>
    </a>
  </div>
</div>
