---
import { Icon } from "@iconify/react";
import { localizePath } from "astro-i18next";
import i18next, { changeLanguage } from "i18next";
import PageProgressBar from "~/components/Layout/PageProgressBar";
import Image from "~/components/mdx/Image";
import Link from "~/components/mdx/Link";
import Layout from "~/layouts/Layout.astro";
import type { ProjectFrontmatter } from "~/types/mdx";

changeLanguage("en");

const components = {
    a: Link,
    img: Image,
};
export async function getStaticPaths() {
    const projects = await Astro.glob<ProjectFrontmatter>(`../../content/**/*.mdx`);
    const filteredProjects = projects.filter(({ frontmatter }) => frontmatter.language === i18next.language &&
        frontmatter.type === "project");
    return filteredProjects.map(({ frontmatter: { slug } }) => ({
        params: { slug },
    }));
}
const projects = await Astro.glob<ProjectFrontmatter>(`../../content/**/*.mdx`);
const filteredProjects = projects.filter(({ frontmatter }) => frontmatter.language === i18next.language &&
    frontmatter.type === "project");
const project = filteredProjects.find(({ frontmatter }) => frontmatter.slug === Astro.params.slug)!;
const { Content } = project;
const pageNamespace = "pages.index";
---

<!-- TODO: custom layout for mdx powered pages -->
<Layout pageNamespace={pageNamespace}>
    <div
        class="custom-container relative grid gap-6 px-4 py-24 sm:grid-cols-3 lg:grid-cols-4"
    >
        <div class="order-1 sm:order-none sm:col-span-3 lg:col-span-1">
            <a
                href={localizePath('/projects')}
                class="inline-flex items-center justify-center space-x-1 px-2 py-2 font-semibold leading-none text-primary-9 transition-colors hover:bg-neutral-5 focus:outline-none focus:ring-3 focus:ring-primary-7 dark:hover:bg-neutralDark-6 sm:justify-start lg:sticky lg:top-24"
            >
                <Icon
                    client:load
                    icon="heroicons:chevron-left-solid"
                    className="h-4 w-4 -ml-1"
                />
                <span>Back</span>
            </a>
        </div>
        <div
            class="prose prose-sm order-3 max-w-none sm:order-none sm:col-span-2 md:prose-base"
        >
            <h1>{project.frontmatter.title}</h1>
            <p class="lead">{project.frontmatter.description}</p>
            <figure>
                <img
                    src={project.frontmatter.thumbnail.url}
                    alt={project.frontmatter.thumbnail.alt}
                />
                <figcaption>
                    {project.frontmatter.thumbnail.alt}
                </figcaption>
            </figure>
            <Content components={components} />
        </div>
        <div class="order-2 sm:order-none">
            <div
                class="sm:sticky sm:top-24 sm:max-h-[calc(100vh-120px)] sm:overflow-y-auto"
            >
                <div class="mb-4 md:text-lg">Table of contents</div>
                <ul
                    class="space-y-2 text-sm font-medium text-neutral-11 md:text-base"
                >
                    {
                        project
                            .getHeadings()
                            .filter(({ depth }) => depth === 2)
                            .map(({ slug, text }) => (
                                <li>
                                    <a
                                        href={`#${slug}`}
                                        class="hover:text-neutral-12 focus:ring-3 focus:ring-primary-7 ml-2 transition-colors hover:underline focus:outline-none"
                                    >
                                        {text}
                                    </a>
                                </li>
                            ))
                    }
                </ul>
            </div>
        </div>
    </div>
    <PageProgressBar client:load />
</Layout>
