---
import i18next from 'i18next'
import { Icon } from '@iconify/react'
import { t } from 'i18next'
import { Image } from '@astrojs/image/components'

export type Props = {
    title: string
    description: string
    slug: string
    img: string
    alt: string
    category: string
    publishedTime: string
    localizedRootUrl: string
}
const {
    title,
    description,
    slug,
    img,
    alt,
    category,
    publishedTime,
    localizedRootUrl,
} = Astro.props
---

<a
    href={`${localizedRootUrl}${slug}`}
    class="group flex h-full flex-col gap-4 focus:outline-none focus:ring-3 focus:ring-primary-7"
>
    <div class="overflow-hidden">
        <Image
            src={img}
            alt={alt}
            class="h-72 w-full object-cover transition-transform group-hover:scale-105"
            loading="lazy"
            width={1200}
            height={627}
            fit="outside"
            quality={100}
            format="webp"
        />
    </div>
    <p class="text-sm text-neutral-11">
        {category} ·{' '}
        {
            new Date(publishedTime).toLocaleDateString(i18next.language, {
                dateStyle: 'medium',
            })
        }
    </p>
    <h3 class="text-xl font-semibold sm:text-2xl md:text-3xl">
        {title}
    </h3>
    <p class="text-base font-medium text-neutral-11">
        {description}
    </p>
    <div
        class="mr-auto mt-auto inline-flex items-center space-x-2 border-b-2 border-transparent pb-1 text-sm font-semibold text-primary-9 transition-colors group-hover:border-current sm:text-base"
    >
        <span>{t('readMore', { ns: 'pages.blog' })}</span>
        <Icon
            icon="heroicons:chevron-right-20-solid"
            className="h-4 w-4"
            client:load
        />
    </div>
</a>
