---
import { localizePath } from 'astro-i18next'
import { LanguageSelector } from 'astro-i18next/components'
import { t } from 'i18next'
import Markdown from '~/components/Markdown'
import SocialLinks from './SocialLinks'
---

<div class="bg-neutral-3">
    <div
        id="contact"
        class="custom-container !mt-0 flex flex-col gap-16 py-24 px-4"
    >
        <div>
            <h2
                class="text-center text-2xl font-light sm:text-left sm:text-4xl"
            >
                <Markdown source={t('footer.title', { ns: 'common' })} />
            </h2>
            <p
                class="mx-auto mt-8 max-w-lg text-sm font-medium sm:ml-0 sm:text-base"
            >
                <Markdown source={t('footer.description', { ns: 'common' })} />
            </p>
            <div class="mt-8 flex justify-center sm:justify-start">
                <a
                    href={`mailto:${t('footer.email', { ns: 'common' })}`}
                    class="inline-block border-b-2 border-current pb-0.5 text-sm font-semibold transition-all hover:mb-0.5 hover:pb-0 focus:outline-none focus:ring-3 focus:ring-primary-7 sm:text-base"
                >
                    <Markdown source={t('footer.email', { ns: 'common' })} />
                </a>
            </div>
            <SocialLinks client:load />
        </div>
    </div>
    <footer
        class="custom-container flex flex-col items-center justify-between gap-16 px-4 pb-24 font-medium lg:flex-row"
    >
        <div class="flex flex-col items-center gap-8 lg:flex-row">
            <svg
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-8 w-8"
                aria-hidden="true"
            >
                <title>{t('header.logoAlt', { ns: 'common' })}</title>
                <path
                    d="m13.1294 20.8356 4.0117-14.97189c.4635-1.72957 2.0108-3.1687 3.4388-3.15394.2762.00285.4363.28293.3649.54966L16.9331 18.2313c-.4635 1.7296-2.0108 3.1687-3.4389 3.1539-.2761-.0028-.4363-.2829-.3648-.5496ZM6.85594 10.2862l1.11075-4.14531c.46343-1.72957 2.0108-3.16871 3.43881-3.15395.034.00035.0662.00489.0964.01308.8275.00102 1.4981.6722 1.4981 1.5 0 .82843-.6716 1.5-1.5 1.5-.1302 0-.2565-.01659-.3769-.04776L9.93352 10.3917c1.42748.3099 2.68058 1.2674 2.97148 2.3999.0688.2675-.1603.4946-.4365.4946H9.15792l-1.39929 5.2223c-.46343 1.7295-2.0108 3.1687-3.43883 3.1539-.27612-.0029-.43628-.2829-.36481-.5497l2.12129-7.9167c-1.45745-.2927-2.74838-1.2634-3.04426-2.4151-.06871-.2675.16037-.4947.43651-.4947h3.38741Z"
                ></path>
            </svg>
            <div class="text-center text-neutral-11 sm:text-left">
                <Markdown
                    source={t('footer.copyright', {
                        ns: 'common',
                        date: new Date().getFullYear(),
                    })}
                />
            </div>
        </div>
        <div class="flex flex-col items-center gap-8 sm:flex-row sm:gap-0">
            {
                (
                    t('footer.legalLinks', {
                        ns: 'common',
                        returnObjects: true,
                    }) as any[]
                )
                    .map((_, i) => ({
                        name: t(`footer.legalLinks.${i}.name`, {
                            ns: 'common',
                        }),
                        href: t(`footer.legalLinks.${i}.href`, {
                            ns: 'common',
                        }),
                    }))
                    .map(({ href, name }) => (
                        <a
                            href={localizePath(href)}
                            class="focus:ring-3 focus:ring-primary-7 py-2 px-4 hover:underline focus:outline-none"
                        >
                            {name}
                        </a>
                    ))
            }
            <LanguageSelector
                showFlag={false}
                class="border-0 bg-neutral-12 text-neutral-2 focus:ring-primary-7 focus:ring-3 ml-0 sm:ml-4"
            />
        </div>
    </footer>
</div>
