---
import '~/assets/css/main.css'
import Banner from '~/components/Layout/Banner.astro'
import Header from '~/components/Layout/Header'
import ThemeTransition from '~/components/Layout/ThemeTransition'
import i18next, { t, setDefaultNamespace } from 'i18next'
import { HeadHrefLangs } from 'astro-i18next/components'
import Footer from '~/components/Layout/Footer.astro'
setDefaultNamespace('translation')
export interface Props {
    pageNamespace: string
}
const { pageNamespace } = Astro.props
const pageT = (key: string) => t(key, { ns: pageNamespace })
const computedTitle = t('global.titleTemplate').replaceAll(
    '%s',
    pageT('seo.title')
)
---

<!DOCTYPE html>
<html lang={i18next.language}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{computedTitle}</title>
        <HeadHrefLangs />
        <script>
            ;(function () {
                try {
                    var mode = localStorage.getItem('theme')
                    var supportDarkMode =
                        window.matchMedia('(prefers-color-scheme: dark)')
                            .matches === true
                    const html = document.querySelector('html')
                    if (!mode && supportDarkMode) html?.classList.add('dark')
                    if (!mode) return
                    if (mode === 'dark') {
                        html?.classList.add('dark')
                    }
                } catch (e) {}
            })()
        </script>
    </head>
    <body class="bg-neutral-2 text-neutral-12 dark:bg-neutralDark-4">
        <Banner enabled={true} />
        <Header pathname={Astro.url.pathname} client:load />
        <main>
            <slot />
        </main>
        <Footer />
        <ThemeTransition client:load />
    </body>
</html>
